/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.venv/
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version

python/dm/data
python/dm/dm/data
python/dm/dm/plots
python/dm/dddm/data
python/dm/dddm/plots
python/dm/no/data
python/dm/mond/plots
python/dm/mond/data
python/dm/mond/plots

python/dddm/data
python/dddm/dm/data
python/dddm/dm/plots
python/dddm/dddm/data
python/dddm/dddm/plots
python/dddm/no/data
python/dddm/mond/plots
python/dddm/mond/data
python/dddm/mond/plots

python/no/data
python/no/dm/data
python/no/dm/plots
python/no/dddm/data
python/no/dddm/plots
python/no/no/data
python/no/mond/plots
python/no/mond/data
python/no/mond/plots

python/mond/data
python/mond/dm/data
python/mond/dm/plots
python/mond/dddm/data
python/mond/dddm/plots
python/mond/no/data
python/mond/mond/plots
python/mond/mond/data
python/mond/mond/plots